.output {
  transition: 0.7s;
  display: none;

  font-family: 'Google Sans', Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.3px;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  --focus-color: #8AB4F8;
  user-select: text;
  font-size: 1.125rem;
  color: #999;

  text-align: left;
  width: 100%;
}

#fileDetails {
  display: none;
  transition: 0.7s;
}

.upload-area {
  transition: 0.7s;
}

.bar-graph-holder {
  text-align: left;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
  margin-bottom: 7px;
  display: none;


  &--visible {
    display: flex;
  }

  &__label {
    font-size: 18px;
    width: 150px;
  }

  &__bar {
    width: 65%;
    height: 100%;
    border-radius: 7px;
    background-color: transparent;
    overflow: hidden;

    .inner {
      width: 10%;
      height: 100%;
      border-radius: inherit;
      background-color: transparent;
      position: relative;
      // overflow: hidden;


    }
  }
}


.value-label {
  font-size: 12px;
  color: #000;
  position: absolute;
  top: 50%;
  right: 8px;
  font-weight: 400;
  transform: translate(0, -50%);
}